<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>map</key>
		<string>-37.77314, 144.953</string>
		<key>name</key>
		<string>Miss Marmalade</string>
		<key>address</key>
		<string>126 Union St Brunswick VIC 3056</string>
		<key>photopath</key>
		<string>Miss Marmalade</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.81076, 144.95713</string>
		<key>name</key>
		<string>Operator 25</string>
		<key>address</key>
		<string>25 Wills St，Melbourne VIC 3000</string>
		<key>photopath</key>
		<string>Operator25</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.83283, 144.95828</string>
		<key>name</key>
		<string>Chez Dre</string>
		<key>address</key>
		<string>285-287 Coventry St South Melbourne VIC 3205</string>
		<key>photopath</key>
		<string>Chez Dre</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.81199, 144.96059</string>
		<key>name</key>
		<string>Hardware Société</string>
		<key>address</key>
		<string>118-120 Hardware St  Melbourne, VIC 3000</string>
		<key>photopath</key>
		<string>Hardware Society</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.76756, 144.97208</string>
		<key>name</key>
		<string>East Elevation</string>
		<key>address</key>
		<string>440 Lygon St Brunswick East VIC 3057</string>
		<key>photopath</key>
		<string>east elevation</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.79464, 144.97926</string>
		<key>name</key>
		<string>Hammer &amp; Tong</string>
		<key>address</key>
		<string>412 Brunswick St Fitzroy VIC 3065</string>
		<key>photopath</key>
		<string>Hammer and Tong</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.81469, 144.95823</string>
		<key>name</key>
		<string>Patricia Coffee Brewers</string>
		<key>address</key>
		<string>493-495 Little Bourke St Melbourne VIC 3000</string>
		<key>photopath</key>
		<string>Patrica</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.81684, 144.89172</string>
		<key>name</key>
		<string>Cobb Lane</string>
		<key>address</key>
		<string>13 Anderson St Yarraville VIC 3013</string>
		<key>photopath</key>
		<string>Cobb Lane</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.79427, 144.93025</string>
		<key>name</key>
		<string>The Premises</string>
		<key>address</key>
		<string>202 Bellair St Kensington VIC 3031</string>
		<key>photopath</key>
		<string>Premises</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.79945, 144.98588</string>
		<key>name</key>
		<string>Everyday Coffee</string>
		<key>address</key>
		<string>33 Johnston St Collingwood VIC 3066</string>
		<key>photopath</key>
		<string>everyday</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.86799, 144.9909</string>
		<key>name</key>
		<string>Monk Bodhi Dharma</string>
		<key>address</key>
		<string>202 Carlisle St Balaclava VIC 3183</string>
		<key>photopath</key>
		<string>everyday</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.83123, 144.96037</string>
		<key>address</key>
		<string>12-18 Yarra Pl South Melbourne VIC 3205</string>
		<key>name</key>
		<string>St Ali</string>
		<key>photopath</key>
		<string>St Ali</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.80244, 144.94947</string>
		<key>address</key>
		<string>103-107 Errol St North Melbourne VIC 3051</string>
		<key>name</key>
		<string>Auction Rooms</string>
		<key>photopath</key>
		<string>Auction Room</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.80287, 144.95912</string>
		<key>address</key>
		<string>106-114 Berkeley St Carlton VIC 3053</string>
		<key>name</key>
		<string>Seven Seeds</string>
		<key>photopath</key>
		<string>Seven Seeds</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.84575, 144.99328</string>
		<key>name</key>
		<string>Market Lane</string>
		<key>address</key>
		<string>Shop 13, Prahran Market/163 Commercial Rd South Yarra VIC 3141</string>
		<key>photopath</key>
		<string>Market Lane</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.80243, 144.98532</string>
		<key>address</key>
		<string>172 Oxford St Collingwood VIC 3066</string>
		<key>name</key>
		<string>Proud Mary</string>
		<key>photopath</key>
		<string>Proud Mary</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.81314, 144.96154</string>
		<key>name</key>
		<string>Sun Moth</string>
		<key>address</key>
		<string>28 Niagara Ln, Melbourne VIC 3000, Australia</string>
		<key>photopath</key>
		<string>Sun Moth</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.811, 144.96083</string>
		<key>name</key>
		<string>Short Stop</string>
		<key>address</key>
		<string>12 Sutherland St, Melbourne VIC 3000, Australia</string>
		<key>photopath</key>
		<string>Shot Stop</string>
	</dict>
	<dict>
		<key>map</key>
		<string>-37.80277, 144.98701</string>
		<key>name</key>
		<string>Aunty Pegs</string>
		<key>address</key>
		<string>200 Wellington St, Collingwood VIC 3066, Australia</string>
		<key>photopath</key>
		<string>Aunty Pegs</string>
	</dict>
</array>
</plist>
