<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Miss Marmalade</string>
		<key>address</key>
		<string>126 Union St, Brunswick VIC 3056</string>
		<key>photopath</key>
		<string>Miss Marmalade</string>
		<key>street</key>
		<string>126 Union St</string>
		<key>city</key>
		<string>Brunswick</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3056</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Operator 25</string>
		<key>address</key>
		<string>25 Wills St, Melbourne VIC 3000</string>
		<key>photopath</key>
		<string>Operator25</string>
		<key>street</key>
		<string>25 Wills St</string>
		<key>city</key>
		<string>Melbourne</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chez Dre</string>
		<key>address</key>
		<string>285-287 Coventry St, South Melbourne VIC 3205</string>
		<key>photopath</key>
		<string>Chez Dre</string>
		<key>street</key>
		<string>285-287 Coventry St</string>
		<key>city</key>
		<string>South Melbourne</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3205</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hardware Société</string>
		<key>address</key>
		<string>118-120 Hardware St, Melbourne VIC 3000</string>
		<key>photopath</key>
		<string>Hardware Society</string>
		<key>street</key>
		<string>118-120 Hardware St</string>
		<key>city</key>
		<string>Melbourne</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>East Elevation</string>
		<key>address</key>
		<string>351 Lygon St, Brunswick East VIC 3057</string>
		<key>photopath</key>
		<string>east elevation</string>
		<key>street</key>
		<string>351 Lygon St</string>
		<key>city</key>
		<string>Brunswick East</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3057</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hammer &amp; Tong</string>
		<key>address</key>
		<string>412 Brunswick St, Fitzroy VIC 3065</string>
		<key>photopath</key>
		<string>Hammer and Tong</string>
		<key>street</key>
		<string>412 Brunswick St</string>
		<key>city</key>
		<string>Fitzroy</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3065</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Patricia Coffee Brewers</string>
		<key>address</key>
		<string>493-495 Little Bourke St, Melbourne VIC 3000</string>
		<key>photopath</key>
		<string>Patrica</string>
		<key>street</key>
		<string>493-495 Little Bourke St</string>
		<key>city</key>
		<string>Melbourne</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cobb Lane</string>
		<key>address</key>
		<string>13 Anderson St, Yarraville VIC 3013</string>
		<key>photopath</key>
		<string>Cobb Lane</string>
		<key>street</key>
		<string>13 Anderson St</string>
		<key>city</key>
		<string>Yarraville</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3013</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Premises</string>
		<key>address</key>
		<string>202 Bellair St, Kensington VIC 3031</string>
		<key>photopath</key>
		<string>Premises</string>
		<key>street</key>
		<string>202 Bellair St</string>
		<key>city</key>
		<string>Kensington</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3031</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Everyday Coffee</string>
		<key>address</key>
		<string>33 Johnston St, Collingwood VIC 3066</string>
		<key>photopath</key>
		<string>everyday</string>
		<key>street</key>
		<string>33 Johnston St</string>
		<key>city</key>
		<string>Collingwood</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3066</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Monk Bodhi Dharma</string>
		<key>address</key>
		<string>202 Carlisle St, Balaclava VIC 3183</string>
		<key>photopath</key>
		<string>Monk Bodi Dharma</string>
		<key>street</key>
		<string>202 Carlisle St</string>
		<key>city</key>
		<string>Balaclava</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3183</string>
	</dict>
	<dict>
		<key>address</key>
		<string>12-18 Yarra Pl, South Melbourne VIC 3205</string>
		<key>name</key>
		<string>St Ali</string>
		<key>photopath</key>
		<string>St Ali</string>
		<key>street</key>
		<string>12-18 Yarra Pl</string>
		<key>city</key>
		<string>South Melbourne</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3205</string>
	</dict>
	<dict>
		<key>address</key>
		<string>103-107 Errol St, North Melbourne VIC 3051</string>
		<key>name</key>
		<string>Auction Rooms</string>
		<key>photopath</key>
		<string>Auction Room</string>
		<key>street</key>
		<string>103-107 Errol St</string>
		<key>city</key>
		<string>North Melbourne</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3051</string>
	</dict>
	<dict>
		<key>address</key>
		<string>106-114 Berkeley St, Carlton VIC 3053</string>
		<key>name</key>
		<string>Seven Seeds</string>
		<key>photopath</key>
		<string>Seven Seeds</string>
		<key>street</key>
		<string>106-114 Berkeley St</string>
		<key>city</key>
		<string>Carlton</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3053</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Market Lane</string>
		<key>address</key>
		<string>Shop 13, Prahran Market/163 Commercial Rd, South Yarra VIC 3141</string>
		<key>photopath</key>
		<string>Market Lane</string>
		<key>street</key>
		<string>Shop 13, Prahran Market/163 Commercial Rd</string>
		<key>city</key>
		<string>South Yarra</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3141</string>
	</dict>
	<dict>
		<key>address</key>
		<string>172 Oxford St, Collingwood VIC 3066</string>
		<key>name</key>
		<string>Proud Mary</string>
		<key>photopath</key>
		<string>Proud Mary</string>
		<key>street</key>
		<string>172 Oxford St</string>
		<key>city</key>
		<string>Collingwood</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3066</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sun Moth</string>
		<key>address</key>
		<string>28 Niagara Ln, Melbourne VIC 3000</string>
		<key>photopath</key>
		<string>Sun Moth</string>
		<key>street</key>
		<string>28 Niagara Ln</string>
		<key>city</key>
		<string>Melbourne</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Short Stop</string>
		<key>address</key>
		<string>12 Sutherland St, Melbourne VIC 3000</string>
		<key>photopath</key>
		<string>Shot Stop</string>
		<key>street</key>
		<string>12 Sutherland St</string>
		<key>city</key>
		<string>Melbourne</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aunty Pegs</string>
		<key>address</key>
		<string>200 Wellington St, Collingwood VIC 3066</string>
		<key>photopath</key>
		<string>Aunty Pegs</string>
		<key>street</key>
		<string>200 Wellington St</string>
		<key>city</key>
		<string>Collingwood</string>
		<key>state</key>
		<string>VIC</string>
		<key>zip</key>
		<string>3066</string>
	</dict>
</array>
</plist>
